@font-face {
    font-family: "tt-commons";
    src: url("./../../assets/fonts/tt-commons/TT\ Commons\ Regular.otf") format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "tt-commons";
    src: url("./../../assets/fonts/tt-commons/TT\ Commons\ DemiBold.otf") format("otf");
    font-weight: 600;
}

@font-face {
    font-family: "tt-commons";
    src: url("./../../assets/fonts/tt-commons/TT\ Commons\ Bold.otf") format("otf");
    font-weight: 700;
}